      body {
          background-color: #2E2E2E;
          color: white;
          font-family: sans-serif;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: stretch;
      }
        
      .color, .color-deactivated {
          text-align: center;
          display: block;
          background-color: orange;
          color: black;
          text-transform: uppercase;
          font-size: 18px;
          cursor: pointer;
          transition: 0.2s;
          border-radius: 3px;
          border: 0;
          padding: 0;
      }
      
      .back-gray {
          background-color: #4F4F4F;
          border-radius: 3px;
      }
      
      .color-deactivated {
          background-color: gray;
      }
      
      .color:hover {
          background-color: white;
      }
      
      h1 {
          font-size: 30px;
          text-transform: uppercase;
          text-align: center;
      }
      
      .list h1 {
          margin-bottom: 20px;
      }
      
      .main-block {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 20px 0px;
      }
      
      .block-left {
          width: 680px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .form-create {
          position: relative;
          margin-bottom: 20px;
          flex-grow: 0;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          font-size: 25px;
          text-transform: uppercase;
      }
      
      .form-create__times {
          width: 270px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      .form-create__input-form {
          width: 50px;
          margin: 0px 10px;
          border-radius: 3px;;
          background-color: #2E2E2E;
          color: orange;
          font-size: 25px;
          text-align: center;
          height: 30px;
      }
      
      .form-create__input-form::-webkit-outer-spin-button,
      .form-create__input-form::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      
      .form-create__colors {
          width: 130px;
          display: flex;
          justify-content: space-between;
      }
      
      .form-create__circle {
          display: block;
          cursor: pointer;
          transition: 0.2s;
      }
      
      .form-create__radio-button input[type=radio] {
          display: none;
      }
      
      .form-create__radio-button input[type=radio]:checked + label, .form-create__circle:hover {
          border: solid 2px orange;
      }
      
      .create-button {
          width: 140px;
          padding-top: 8px;
      }
      
      .form-create-wait-for {
          z-index: 3;
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          left: 0px;
          top: 0px;
          align-items: center;
          justify-content: center;
      }
      
      .form-create-wait-for_button {
          padding: 8px 17px 6px 17px;
          margin-left: 20px;
      }
      
      .lists-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-grow: 1;
      }
      
      .list-general-width {
          width: 300px;
      }
      
      .list {
          padding: 15px;
          text-align: center;
          display: flex;
          flex-direction: column;
      }
      
      .block-overflow-out {
          position: relative;
          width: 100%;
          flex-grow: 1;
      }
      
      .block-overflow {
          position: absolute;
          overflow-y: auto;
          overflow-x: hidden;
          height: 100%;
          width: 100%;
          top: 0px;
          left: 0px;
      }
      
      .block-overflow::-webkit-scrollbar {
          width: 0;
      }
      
      .block-right {
          width: 280px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .self-block {
          position: relative;
          flex-grow: 0;
          margin-bottom: 20px;
          padding: 30px 15px;
      }
      
      .self-block p {
          font-size: 20px;
          text-align: center;
      }
      
      .avatar-block {
          width: 100%;
          max-width: 180px;
          margin: 0px auto;
          margin-bottom: 20px;
          border-radius: 300px;
          overflow: hidden;
          background-color: #2E2E2E;
      }
      
      .avatar-img {
          width:100%;
      }
      
      .self-block__button {
          margin-top: 20px;
          padding: 5px;
          padding-top: 7px;
          width:100%;
      }
      
      .bell-block {
          position: absolute;
          width: 35px;
          height: 35px;
          border-radius: 50px;
          background-color: gray;
          cursor: pointer;
          
          right: 20%;
          top: 30px;
      }
      
      .bell-active {
          background-color: orange;
          box-shadow: white 0px 0px 8px 0px;
      }
      
      .bell-img {
          width: 80%;
          margin: 3px 10%;
      }
      
      .list-invates {
          position: absolute;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
      }
      
      .invate-item p:first-child {
          margin-bottom: 4px;
      }
      
      .continues-list {
          flex-grow: 1;
      }
      
      .lists-block__list-item {
          background-color: #2E2E2E;
          font-size: 18px;
          text-align: center;
          padding: 10px 20px;
          position: relative;
          margin-bottom: 20px;
          border-radius: 3px;
          /*white-space: nowrap;*/
          overflow-x: hidden;
      }
      
      .lists-block__list-item p {
          margin-bottom: 10px;
      }
      
      .lists-block__list-item_button {
          padding: 6px;
          padding-bottom: 3px;
      }
      
      .game-button {
          width: 50%;
          margin: 10px auto 0px auto
      }
      
      .color-game-circle {
          width: 26px;
          height: 26px;
          border-radius: 30px;
          border: solid 2px #2E2E2E;
          
      }
      
      .lists-block__list-item_color-game-circle {
          position: absolute;
          bottom: 11px;
          left: 16px;
      }
      
      .circle-black {
          background-color: black;
      }
      
      .circle-white {
          background-color: white;
      }
      
      .circle-rand {
          background-image: url(../img/rand-circle-color.jpg);
          transform: rotate(45deg);
          background-size: cover;
      }
      
      .lists-block__list-item_time-block {
          position: absolute;
          bottom: 13px;
          right: 17px;
          color: orange;
          font-size: 18px;
      }
      
      .lists-block__buttons {
          display: flex;
          justify-content: space-between;
      }
      
      .tournament-button {
          width: 120px;
      }
      
      .time-button {
          width: 70%;
      }
      
      .YN-buttons {
          justify-content: space-around;
      }
      
      .YN-button {
          width: 80px;
      }
      
      .continues-list__list-item_color-game-circle {
          position: absolute;
          bottom: 9px;
          right: 18px;
      }
      
      .create-tournament-item {
          display: flex;
      }
      
      .create-tournament-button {
          margin: 0px;
          flex-grow: 1;
      }
      
      .create-tournament-block {
          position: absolute;
          width: 100%;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(5px);
          z-index: 10;
      }
      
      .create-tournament-block .main-block {
          height: 400px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
      }
      
      .block-invates {
          width: 250px;
          padding: 15px;
      }
      
      .block-invates p {
          position:relative;
          left: 0px;
          margin-bottom: 7px;
          text-align: left;
          transition: 0.4s;
          cursor: pointer;
          font-size:18px;
      }
      
      .block-invates p:hover {
          left: -50px;
      }
      
      .block-info-tournament {
          width: 600px;
          padding: 15px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .block-info-tournament h1 {
          margin-bottom: 15px;
      }
      
      .block-info-tournament__name {
          display: flex;
          flex-direction: column;
      }
      
      #name-tournament {
        resize: none;
        background-color: #2E2E2E;
        border: 0;
        color: white;
        font-size: 18px;
        padding: 10px;
      }
      
      .block-info-tournament__type {
          margin-top: 40px;
      }
      
      .block-info-tournament__type_radio-buttons {
          display: flex;
          justify-content: space-between;
          font-size: 22px;
          color: white;
          padding: 0px 20px;
      }
      
      .block-info-tournament__type_radio-buttons label {
          transition: 0.1s;
          cursor: pointer;
      }
      
      .block-info-tournament__type_radio-buttons input[type=radio] {
          display: none;
      }
      
      .block-info-tournament__type_radio-buttons input[type=radio]:checked + label {
          color: orange;
      }
      
      .block-info-tournament__buttons {
          display: flex;
          justify-content: space-between;
      }
      
      .block-info-tournament__button {
          width: 29%;
          padding: 10px 5px;
          padding-top: 12px;
      }
      
      @media screen and (max-height: 850px) {
          .block-left {
              width: 600px;
          }
          
          .list-general-width {
              width: 260px;
          }
          
          .block-right {
              width: 260px;
          }
          
          .color, .color-deactivated, .self-block {
              font-size: 16px;
          }
          
          h1 {
              font-size: 25px;   
          }
          
          .list {
              font-size: 25px;
              margin-bottom: 10px;
          }
          
          .form-create {
              font-size: 20px;
          }
          
          .form-create__times {
              width: 260px;
          }
          
          .form-create__input-form {
              height: 26px;
          }
          
          .self-block {
              padding: 15px;
          }
          
          .bell-block {
              width: 30px;
              height: 30px;
              
              top: 15px;
              right: 23%;
          }
          
          .avatar-block {
              max-width: 120px;
              margin-bottom: 13px;
          }
          
          .self-block__button {
              margin-top: 13px;
          }
          
          .create-button {
              width: 110px;
              padding-top: 7px;
          }
          
          .lists-block__list-item {
              font-size: 16px;
              margin-bottom: 10px;
          }
          
          .lists-block__list-item_button {
              padding: 5px;
              padding-bottom: 2px;
              margin-top: 8px;
          }
          
          .tournament-button {
              width: 100px;
          }
          
          .color-game-circle {
              width: 25px;
              height: 25px;
          }
          
          .lists-block__list-item_time-block {
              bottom: 10px;
          }
      }
      
      
      
      
      .game-main-block {
          max-height: 800px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          padding: 0px;
      }
      
      .game-block-board {
          height: 800px;
          width: 800px;
          margin-right: 15px;
      }
      
      .game-block-right {
          width: 280px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .game-history {
          flex-grow: 1;
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .game-history__table {
          width: 100%;
          text-align: center;
          border-spacing: 10px;
          border-collapse: separate;
      }
      
      .game-history__table td {
          background-color: #2E2E2E;
          font-size: 18px;
          padding: 5px 10px;
          padding-top: 7px;
          border-radius: 3px;
      }
      
      .game-history__table td:nth-child(1) {
          width: 20%;
      }
      .game-history__table td:nth-child(2) {
          width: 35%;
      }
      .game-history__table td:nth-child(3) {
          width: 35%;
      }
      
      .game-history-buttons {
          flex-grow: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 15px;
      }
      
      .game-history-buttons__button {
          width: 50px;
          height: 40px;
          background-size: 60%;
          background-repeat: no-repeat;
          background-position: center center;
      }
            
      #button-to-home {
        background-image: url(../img/icon-home.png)
      }
      #button-cancel {
        background-image: url(../img/icon-cancel.png)
      }
      #button-give-up {
        background-image: url(../img/icon-giveup.png)
      }
      #button-nobody {
        background-image: url(../img/icon-nobody.png)
      }

      .game-info {
          margin-top: 15px;
          height: 220px;
          flex-grow: 0;
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 22px;
          text-align: center;
      }
      
      .game-info__time-block {
          padding: 8px;
          padding-top: 10px;
      }
      
      #Board {
        width: 96%;
        height: 96%;
        position: relative;
        top: 2%;
        left: 2%;
      }
      
      @media screen and (max-height: 850px) {
            .game-main-block {
                max-height: 600px;
            }
      
            .game-block-board {
                height: 600px;
                width:600px;
            }
            
            .game-block-right {
                width: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .game-history__table {
                width: 100%;
                text-align: center;
                border-spacing: 10px;
                border-collapse: separate;
            }
            
            .game-history__table td {
                font-size: 16px;
                padding: 5px;
            }
            
            .game-history-buttons__button {
                width: 50px;
                height: 35px;
                background-size: 50%;
            }
            
            .game-info {
                height: 180px;
                font-size: 20px;
            }
      }
    
      .deactivated {
          display: none;
      }

      .form-block {
        width: 250px;
        padding: 15px;
        text-align: center;
      }

      .block-rules {
        width: 600px;
        margin-left: 15px;
        padding: 30px;
      }
      
      .block-rules p {
          margin-top: 10px;
          font-size: 20px;
          text-align: left;
      }

        .input-field {
            width: 100%;
            font-size: 20px;
            padding: 5px 0px;
            background-color:#2E2E2E;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 20px;
            border-radius: 3px;
            color: white;
        }

        .button-block {
            width: 100%;
            margin-top: 20px;           
            padding: 8px 0px 6px 0px;
            font-size: 17px;
        }

        #accept-button {
            margin: 0px;
            -webkit-appearance: auto;
            display: none;
        }
        
        #accept-button + label:before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color:#2E2E2E;
            margin-right: 10px;
            cursor: pointer;
        }
        
        #accept-button:checked + label:before {
            background-color: orange;
        }
        
        #sign-in-form__sign-in-button {
            margin: 0px;
        }
        
        .accept-button_label {
            display: flex;
            align-items: center;
        }

        .form-block h1 {
            font-size: 20px;
        }

        .orange-star{
            color: orange;
        }
        
        @media screen and (max-height: 850px) {
            .input-field {
                margin-bottom: 15px;
            }
            
            .button-block {
                margin-top: 15px;
            }
            
            .form-block h1, .input-field, {
                font-size: 18px;
            }
        }
        
        .background-image-404 {
            width: 100%;
            height: 100vh;
            
            background-image: url('../img/background 404.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
        }
        
        .block-shadow {
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
        
        .text-404 {
            font-size: 160px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
        }
        
        .button-to-main {
            font-size: 35px;
            padding: 20px;
            width: 550px;
            position: absolute;
            transform: translateX(-50%);
            bottom: 40%;
            left: 50%;
        }
        
        @media screen and (max-height: 850px) {
            .button-to-main {
                bottom: 35%;
                font-size: 30px;
            }
        }
        
        .profile-list {
            flex-grow: 1;
            padding-top: 25px;
        }
        
        .game-item, .tournament-item, .friend-item {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            align-items: center;
            cursor: pointer;
        }
        
        .game-item__name {
            width: 190px;
            overflow: hidden;
        }
        
        .game-item__state {
            width: 80px;
        }
        
        .game-item__date {
            width: 80px;
        }
        
        .color_win {
            color: lightgreen;
        }
        
        .color_lose {
            color: red;
        }
        
        .color_nobody {
            color: gray;
        }
        
        .tournament-item__name {
            text-align: left;
            width: 55%
        }
        
        .tournament-item__date {
            width: 15%;
        }
        
        .tournament-item__players {
            width: 25%;
        }
        
        .friend-item__avatar {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: #4F4F4F;
        }
        
        .friend-item__name {
            padding-right: 200px;
        }
        
        .friend-item__info {
            width: 120px;
            text-align: left;
        }
        
        @media screen and (max-height: 850px) {
            .game-item, .tournament-item, .friend-item {
                font-size: 14px;
            }
            .friend-item__name {
                padding-right: 160px;
            }
        }
        
        .tournament-block-left {
            width: 700px;
            margin-right: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .tournament-block-left__current-game {
            margin-bottom: 15px;
        }
        
        .tournament-block-left__players,
        .tournament-block-left__current-game {
            flex-grow: 1;
        }
        
        .tournament-block-left__players h1,
        .tournament-block-left__current-game h1 {
            margin-bottom: 20px;
        }
        
        .current-game-item,
        .tournament-players-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .current-game-item {
            cursor: pointer;
            outline: 1px solid #2E2E2E;
            outline-offset: -3px;
            transition: 0.1s;
        }
        
        .current-game-item__name {
            width: 200px;
        }
        
        .current-game-item__time {
            width: 70px;
            padding: 5px;
        }
        
        .selected-current-game {
            outline: 1px solid orange;
        }
        
        .tournament-block-right {
            width: 400px;
        }
        
        .tournament-players-item p:nth-child(1) {
            width: 280px;
            text-align: left;
        }
        
        .tournament-players-item p:nth-child(2) {
            width: 80px;
        }
        
        .tournament-players-item p:nth-child(3) {
            width: 150px;
        }
        
        .tournament-block-right__tournament-info {
            padding: 15px;
            margin-bottom: 15px;
        }
        
        .tournament-block-right__tournament-info h1 {
            font-size: 25px;
            margin-bottom: 10px;
        }
        
        .tournament-block-right__begin-game {
            text-align: center;
            padding: 15px;
            margin-bottom: 15px;
            font-size: 20px;
        }
        
        .tournament-block-right__begin-game p {
            margin-bottom: 10px;
        }
        
        .tournament-block-right__button {
            width: 100%;
            padding: 7px;
        }
        
        .tournament-block-right__block-board {
            height: 370px;
            width: 370px;
            padding: 15px;
            margin-bottom: 15px;
        }
        
        #review-board {
            width: 100%;
            height: 100%;
        }
        
        .tournament-block-right__info {
            padding: 15px;
            font-size: 20px;
        }
        
        .tournament-block-right__info p:first-child {
            margin-bottom: 10px;
        }
        
        @media screen and (max-height: 850px) {
            .tournament-block-right {
                width: 330px;
            }
            .tournament-block-right__block-board {
                height: 300px;
                width: 300px;
            }
        }
