      body {
          background-color: #2E2E2E;
          color: white;
          font-family: sans-serif;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: stretch;
      }
      
      .color, .color-diactive {
          text-align: center;
          display: block;
          background-color: orange;
          color: black;
          text-transform: uppercase;
          font-size: 18px;
          cursor: pointer;
          transition: 0.2s;
          border-radius: 3px;
          border: 0;
          padding: 0;
      }
      
      .color-diactive {
          background-color: gray;
      }
      
      .color:hover {
          background-color: white;
      }
      
      .list h1 {
          font-size: 30px;
          text-transform: uppercase;
          margin-bottom: 20px;
      }
      
      .main-block {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 20px 0px;
      }
      
      .block-left {
          width: 680px;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .form-create {
          margin-bottom: 20px;
          flex-grow: 0;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          font-size: 25px;
          text-transform: uppercase;
      }
      
      .form-create__times {
          width: 270px;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      
      .form-create__input-form {
          width: 50px;
          margin: 0px 10px;
          border-radius: 3px;;
          background-color: #2E2E2E;
          color: orange;
          font-size: 25px;
          text-align: center;
          height: 30px;
      }
      
      .form-create__input-form::-webkit-outer-spin-button,
      .form-create__input-form::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      
      .form-create__colors {
          width: 130px;
          display: flex;
          justify-content: space-between;
      }
      
      .form-create__circle {
          display: block;
          cursor: pointer;
          transition: 0.2s;
      }
      
      .form-create__radio-button input[type=radio] {
          display: none;
      }
      
      .form-create__radio-button input[type=radio]:checked + label, .form-create__circle:hover {
          border: solid 2px orange;
      }
      
      .create-button {
          width: 140px;
          padding-top: 8px;
      }
      
      .lists-block {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-grow: 1;
      }
      
      .list-general-width {
          width: 300px;
      }
      
      .list {
          padding: 15px;
          text-align: center;
          display: flex;
          flex-direction: column;
      }
      
      .block-overflow-out {
          position: relative;
          height: auto;
          width: 100%;
          flex-grow: 1;
      }
      
      .block-overflow {
          position: absolute;
          overflow-y: auto;
          overflow-x: hidden;
          height: 100%;
          width: 100%;
          top: 0px;
          left: 0px;
      }
      
      .block-overflow::-webkit-scrollbar {
          width: 0;
      }
      
      .block-right {
          width: 280px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .self-block {
          height: 350px;
          flex-grow: 0;
          margin-bottom: 20px;
          padding: 30px 15px;
          
          display:flex;
          flex-direction: column;
          justify-content: space-between;
      }
      
      .self-block p {
          font-size: 20px;
          text-align: center;
      }
      
      .avatar-block {
          width: 100%;
          max-width: 180px;
          margin: 0px auto;
          border-radius: 300px;
          overflow: hidden;
          background-color: #2E2E2E;
      }
      
      .avatar-img {
          width:100%;
      }
      
      .self-block__button {
          padding: 5px;
          padding-top: 7px;
      }
      
      .continues-list {
          flex-grow: 1;
      }
      
      .back-gray {
          background-color: #4F4F4F;
          border-radius: 3px;
      }
      
      .lists-block__list-item {
          background-color: #2E2E2E;
          font-size: 18px;
          text-align: center;
          padding: 10px 20px;
          position: relative;
          margin-bottom: 20px;
          border-radius: 3px;
          /*white-space: nowrap;*/
          overflow-x: hidden;
      }
      
      .lists-block__list-item_button {
          margin-top: 10px;
          padding: 6px;
          padding-bottom: 3px;
      }
      
      .game-button {
          width: 50%;
          margin: 10px auto 0px auto
      }
      
      .color-game-circle {
          width: 26px;
          height: 26px;
          border-radius: 30px;
          border: solid 2px #2E2E2E;
          
      }
      
      .lists-block__list-item_color-game-circle {
          position: absolute;
          bottom: 11px;
          left: 16px;
      }
      
      .circle-black {
          background-color: black;
      }
      
      .circle-white {
          background-color: white;
      }
      
      .circle-rand {
          background-image: url(../img/rand-circle-color.jpg);
          transform: rotate(45deg);
          background-size: cover;
      }
      
      .lists-block__list-item_time-block {
          position: absolute;
          bottom: 13px;
          right: 17px;
          color: orange;
          font-size: 18px;
      }
      
      .lists-block__buttons {
          display: flex;
          justify-content: space-between;
      }
      
      .tournament-button {
          width: 115px;
      }
      
      .time-button {
          width: 70%;
      }
      
      .continues-list__list-item_color-game-circle {
          position: absolute;
          bottom: 9px;
          right: 18px;
      }

      @media screen and (max-height: 850px) {
          .block-left {
              width: 600px;
          }
          
          .list-general-width {
              width: 260px;
          }
          
          .block-right {
             width: 220px;
          }
          
          .color, .color-diactive, .self-block {
              font-size: 16px;
          }
          
          .list h1 {
              font-size: 25px;
              margin-bottom: 10px;
          }
          
          .form-create {
              font-size: 20px;
          }
          
          .form-create__times {
              width: 260px;
          }
          
          .form-create__input-form {
              height: 26px;
          }
          
          .self-block {
              height: 300px;
              padding: 15px;
          }
          
          .avatar-block {
              max-width: 140px;
          }
          
          .create-button {
              width: 110px;
              padding-top: 7px;
          }
          
          .lists-block__list-item {
              font-size: 16px;
              margin-bottom: 10px;
          }
          
          .lists-block__list-item_button {
              padding: 5px;
              padding-bottom: 2px;
              margin-top: 8px;
          }
          
          .tournament-button {
              width: 100px;
          }
          
          .color-game-circle {
              width: 25px;
              height: 25px;
          }
          
          .lists-block__list-item_time-block {
              bottom: 10px;
          }
      }
